<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteName">
	<test name="Login Test" allow-return-values="true">
		<classes>
			<class name="com.selenium.ZOHO.project.testcases.LoginTest" />
		</classes>
	</test>
	
	<test name="Lead Test" allow-return-values="true">
		<classes>
			<class name="com.selenium.ZOHO.project.testcases.LeadTest" />
		</classes>
	</test>
	
	<test name="Potential Test" allow-return-values="true">
		<classes>
			<class name="com.selenium.ZOHO.project.testcases.PotentialTest" />
		</classes>
	</test>
</suite>